.Schedule-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.Schedule {
  max-width: 876px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.Schedule-leftTeam,
.Schedule-rightTeam {
  flex-basis: 40%;
}

.Schedule-dateRow {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  line-height: 2em;
}
.Schedule-matchTime {
  flex-basis: 2em;
  padding: 5px 20px;
}

.Schedule-rowEven {
  background-color: rgba(51, 51, 51, 0.06);
}
